* {
  margin: 0;
  padding: 0;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'JosefinSans';
}

/*header*/
header {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/seedling2.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}
header .container {
 display: flex;
 justify-content: center;
 align-items: center;
}
header .container .content {
  text-align: center;
}
header .container .content h1 {
  color: rgba(5, 255, 0, 1);
  font-size: 50px;
  font-weight: 100;
  font-style: normal;
  margin-bottom: 10px;
}
header .container .content h3 {
  color: white;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 30px;
}
header .container .content h4 {
  font-size: 20px;
  color: rgba(5, 255, 0, 1);
  font-weight: 100;
  margin-bottom: 6px;
}
header .container .content p {
  color: rgba(5, 255, 0, 1);
}

/*hero*/
.hero {
  width: 100vw;
  height: 20vh;
}
.hero .hero-container {
  margin: 40px;
}
.hero .hero-container h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

/*aim*/
.aim {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.aim .aim-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.aim .aim-container #aim-image {
  width: 350px;
}
.aim .aim-container .aim-content {
  margin-right: 80px;
}
.aim .aim-container .aim-content h4 {
  font-weight: bold;
  font-size: 20px;
}
.aim .aim-container .aim-content hr {
  border: 4px solid rgba(37, 114, 81, 1);
  width: 50px;
  margin-bottom: 20px;
}
.aim .aim-container .aim-content .join-btn {
  background-color: rgba(37, 114, 81, 1);
  color: white;
  width: 100px;
  padding: 8px 20px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.aim .aim-container .aim-content2 {
  font-weight: bold;
  font-size: 18px;
}
.aim .aim-container .aim-content2 #pandamiti {
  margin-top: 20px;
}

/*teams*/
.teams {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams .teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams .teams-container #teams-image {
  width: 400px;
}
.teams .teams-container .teams-content {
  margin-right: 80px;
}
.teams .teams-container .teams-content h3 {
  font-weight: bold;
  font-size: 20px;
}
.teams .teams-container .teams-content hr {
  border: 4px solid rgba(251, 225, 34, 1);
  width: 50px;
  margin-bottom: 20px;
}
.teams .teams-container .teams-content .donate-btn {
  background-color: rgba(37, 114, 81, 1);
  color: white;
  width: 100px;
  padding: 8px 20px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.teams .teams-container .teams-content2 {
  font-size: 18px;
  font-weight: bold;
  
}
.teams .teams-container .teams-content2 #PP {
  margin-top: 40px;
  margin-bottom: 10px;
}

/*energy*/
.energy {
  width: 100vw;
  height: 90vh;
}
.energy .energy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.energy .energy-container .energy-content h3 {
  font-size: 30px;
  font-weight: 100;
}
.energy .energy-container .energy-content hr {
  border: 4px solid rgba(68, 139, 202, 1);
  width: 50px;
  margin-bottom: 20px;
}
.energy .energy-container .energy-content .cause-btn {
  background-color: rgba(37, 109, 114, 1);
  color: white;
  width: 100px;
  padding: 8px 20px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.energy .energy-container .energy-content #sunset {
  position: absolute;
  left: 60%;
  margin-top: 120px;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
@font-face {
  font-family: 'JosefinSans';
  src: url("images/JosefinSans-VariableFont_wght.ttf");
}
